.PageHeading {
    background: #ffff;
    padding: 10px 24px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-top: 10px;
}

.PageHeading h1 {
    font-size: 24px;
    color: #0069b3;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.form-group-img .input-file {
    width: 0.1px;
    height: 0.1px;
    z-index: -1;
    position: relative;
    overflow: hidden;
    opacity: hidden;
}

.form-group-img .input-file+label {
    font-size: 1.25em;
    font-weight: 700;
    color: #fff;
    background-color: black;
    display: block;
}

.btn-upload {
    background-color: #2e3191 !important;
    max-width: 200px;
    margin: 10px;
    box-shadow: 1px 1px 5px 1px rgba(105, 105, 105, 0.3);
    color: #fff;
}

.form-group-img svg {
    margin-left: 10px;
    font-size: 24px;
    margin-bottom: 6px;
}

.commonbotton_disable {
    cursor: not-allowed !important;
    background-color: #d3d3d3 !important;
    color: #6c757d !important;
    border: 0 !important;
}