.selectImageInfo {
    text-align: center;
    border: 1px solid #edf1f0;
    padding: 12px 0;
}

.selectImageSlider {
    overflow: hidden;
}

.productSliderItem {
    padding-bottom: 10px;
}

.productSliderItem img {
    width: 65px;
    height: 86px;
    cursor: pointer;
    object-fit: contain;
    border: 1px solid #edf1f0;
}

.selectImageInfo .slidePrev,
.selectImageInfo .slideNext {
    background: #edf1f0;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 8px;
    line-height: 0;
    border: solid 1px #edf1f0;
    transition: .4s ease-in-out;
    display: inline-block;
}

.selectImageInfo .slideNext {
    margin-top: 10px;
}

.selectImageInfo .slideNext:hover,
.selectImageInfo .slidePrev:hover {
    color: #fff;
    border: solid 1px #242424;
    background-color: #242424;
}