.productFilterSec {
    padding: 15px;
    background: #edf1f0;
    position: sticky;
    top: 90px;
    border-radius: 10px;
}


.rangeNumber span {
    display: inline-block;
    background: #f7f7f7;
    padding: 5px 10px;
    font-size: 14px;
    /* font-weight: 600; */
}

.productsFilterItem h4 {
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #454545;
    font-size: 16px;
}

.rangeNumber {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.productsFilterItem .form-check {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.productsFilterItem .form-check .form-check-input {
    margin-top: 0;
}

.productsFilterItem .form-check .form-check-input:checked {
    background-color: #242424;
    border: #242424;
    box-shadow: 0 0 0 0.25rem #2424242e;
}

.productsFilterItem .form-check .form-check-label {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 17px;
    color: #878787;
}

.pagination.paginationSec {
    border: 0;
}

.pagination.paginationSec li a {
    background-color: transparent;
    border: 0;
    color: #7a7a7a;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
}

.pagination.paginationSec .page-item .page-link svg {
    font-weight: bold;
    font-size: 20px;
}

.pagination.paginationSec .page-item:nth-child(2) .page-link {
    background-color: #242424;
    color: #fff;
    border-radius: 4px;

}