.abaris-nav .navbar.navbarItem {
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}

header.sticky {
    transform: translateY(0px);
    transition: .6s ease-in-out;
    background: #fff;
    position: relative;
    z-index: 11;
    /* position: fixed;
    width: 100%; */
}

header.sticky.active {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 111;
    transform: translateY(-1px);
    transition: .4s ease-in-out;
    box-shadow: 0px 15px 10px -15px #6e6e6eb8;
}

.navbarArea {
    border-top: 1px solid #f2f2f2;
}

.categoryItems ul {
    margin-bottom: 0;
    list-style: circle;
    background-color: #9b1b69;
    color: #fff;
}

div#offcanvasExample {
    border: 0;
    width: 300px;
    background: #9b1b69;
}

.categoryItems ul li a {
    padding: 9px 6px;
    display: block;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}

.accordion-collapse {
    background: #9b1b69;
}

.allCategoryDrop {
    padding: 7px 10px;
    background: #edf1f0;
    width: 260px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: none;
    cursor: pointer;
}

.menuCard {
    display: flex;
    align-items: center;
}

.allCategoryDrop i {
    font-size: 20px;
}

.bannerContent .title p {
    color: #626262;
}

.categoryList {
    position: absolute;
    top: 44px;
    left: -350px;
    z-index: -111;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease-in-out;
}

.categoryList ul {
    margin: 0;
    padding: 10px;
    background: #fff;
}

.categoryList ul li a {
    text-transform: capitalize;
    color: #333333;
    line-height: 33px;
    display: block;
    transition: .4s ease-in-out;
}

.allCategoryDrop:hover .categoryList {
    opacity: 1;
    left: 0px;
    z-index: 111;
    position: absolute;
}

.categoryList ul li a:hover {
    color: #242424;
}


@media only screen and (max-width: 1100px) {
    .menuCard {
        justify-content: start;
    }

    .navbarArea {
        display: none;
    }

    .searchSec {
        background-color: #fff;
    }
}

@media only screen and (max-width: 767px) {
    header.sticky.active {
        top: 0px;
    }

    .searchItem .logo {
        width: 100%;
    }

    .menuCard {
        display: block;
    }

    /* 
    header.sticky.active .searchItem .searchSec{
        display: none;
    } */

}